<p></p><strong>本当に退会しますか？</strong></p><br>
退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。
<%= button_to '退会しない', customer_path(current_customer.id), method: :get %>
<%= button_to '退会する', customers_withdraw_path(current_customer.id), method: :patch, data: {confirm: '本当に退会しますか？'} %>

