<%- if controller_name != 'sessions' %>
  <p class="ml-3 mt-3 mb-4 h4"><span>既に登録済みの方</span></p>
  <%= link_to "こちら", new_customer_session_path, class: "ml-5" %>　からログインしてください。<br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="ml-5"><span class="border-bottom border-dark">会員登録がお済みでない方</span></p>
  <%= link_to "こちら", new_customer_registration_path, class: "offset-2" %>　から新規登録を行ってください。<br />
<% end %>