<div class="container">
  <h1 class="mb-4 ml-3">About</h1>
  <div class="d-md-flex mb-5">
    <p class="px-3">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。</p>
    <div class="d-flex justify-content-center">
      <%= image_tag "job_patissiere_woman.png", width: 100 %>
    </div>
  </div>
</div>